*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a{
    color: inherit;
}

.d-flex{
    display: flex;
}

.d-flex-col{
    flex-direction: column;
    display: flex;
}

.debug > *{
    border: 2px dashed black;
    padding: 5px;
}


/*HEADER*/

#header{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
    padding: 5px;
}

#header .d-flex{
    justify-content: space-between;
    align-items: center;
}

#header li{
    list-style-type: none;
    padding: 0 10px;
}

#header img{
    padding-right: 10px;
}

.button{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 5px 10px;
}

/*MAIN*/

/*JUMBO*/


#jumbo{
    justify-content: center;
    background-color: #b4d0e7;
}

#jumbo .container{
    width: 80%;
    align-items: center;
}

#jumbo .img{
    width: 60%;
}

#jumbo img{
    width: 100%
}

#jumbo .text{
    width: 40%;
}

#jumbo .text > *{
    padding: 20px;
}

/*BUSINESS*/

#business{
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#business .container{
    width: 60%;
}

.card{
    width: calc(100% / 3);
}

#business .body{
    flex-wrap: wrap;
}

#business .card:last-child{
    flex-grow: 1;
}

/*PARTNER*/

#partner{
    justify-content: center;
    align-items: center;
    height: 500px;
}

#partner .container{
    width: 60%;
}

#partner .img{
    width: 60%;
}

#partner img{
    width: 100%;
}

#partner .testo{
    width: 40%;
}

#partner .testo > *{
    padding: 20px;

}

/*DROP-BIZ*/

#drop-biz{
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#drop-biz .container{
    width: 60%;    
}

#drop-biz .body{
    flex-wrap: wrap;
}

#drop-biz .img{
    width: 100%;
}

#drop-biz img{
    width: 100%;
}

/*SCOPRI DI PIU*/

#scopridipiu{

    height: 300px;
    justify-content: center;
    align-items: center;
}

#scopridipiu > div{
    width: 60%;
}

#scopridipiu .container{
    width: 70%;
    height: 150px;
    justify-content: space-between;
}
