*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root{
    --button-color: rgb(0, 132, 255);
    --button-text-color: white;
    --main-font-size: 0.9rem;
}



/*HEADER*/

.header{
    min-height: 80px;
    background-color: rgb(255, 255, 255);
}

.header__logo_img{
    padding: 10px 15px;

}

.header__logo_link-list li a{
    padding: 10px 15px;
    color: rgb(126, 126, 126);
    font-size: 0.8rem;
}

#Inizia{
    color: var(--button-text-color);
    background-color: var(--button-color);
    margin-right: 15px;
    padding: 5px 15px;
}



                                                /*MAIN*/

                                                /*INTRO*/

.intro{
    background-color: #b4d0e7;
    min-height: 500px;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.intro__container{
    flex-direction: column;
    width: 70%;

}

/*TITOLO*/

.intro__title{
    padding: 30px;
}

h1{
    color: #000000;
    font-size: 4rem;
}

/*CORPO*/

.intro__text-img{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
}


/*TESTO*/


.intro__text{
    width: 30%;
    font-size: var(--main-font-size);
}

.intro__text .button{
    display: inline-block;
    color: var(--button-text-color);
    background-color: var(--button-color);
    padding: 15px;
    margin: 20px 0;
}

.intro__text span{
    display: inline-block;
}

.intro__text i{
    font-weight: 900;
    display: block;
    margin-top: 50px;
    font-size: 2rem;
}


/*IMMAGINE*/


.intro__img {
    width: 80%;
    position: relative;
}

.intro__img img{
    width: 100%;
    position: absolute;
}

                                            /*BUSINESS PLAN*/


.debug{
    min-height: 100px;
    min-width: 200px;
}                                  

.business-plan{
    min-height: 1000px;
    justify-content: center;
}

.business-plan__container{
    width: 50%;
}

.business-plan__option_container{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.business-plan__container_option{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.business-plan__option{
    margin: 5px;
    flex-grow: 1;
    border: 1px solid grey;
}

.business-plan__option div{
    text-align: center;
    border-bottom: 1px solid grey;
}

