*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a{
    color: inherit;
}

.d-flex{
    display: flex;
}

.d-flex-col{
    flex-direction: column;
    display: flex;
}

.debug > *{
    border: 2px dashed black;
    padding: 5px;
}


/*HEADER*/

#header{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
    padding: 5px;
}

#header .d-flex{
    justify-content: space-between;
    align-items: center;
}

#header li{
    list-style-type: none;
    padding: 0 10px;
}

#header img{
    padding-right: 10px;
}

.button{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 5px 10px;
}

/*MAIN*/

/*JUMBO*/


#jumbo{
    justify-content: center;
    background-color: #b4d0e7;
}

#jumbo .container{
    width: 80%;
    align-items: center;
}

#jumbo .img{
    width: 60%;
}

#jumbo img{
    width: 100%
}

#jumbo .text{
    width: 40%;
}

#jumbo .text > *{
    padding: 20px;
}

/*BUSINESS*/

#business{
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#business .container{
    width: 60%;
}

.card{
    width: calc(100% / 3);
}

#business .body{
    flex-wrap: wrap;
}

#business .card:last-child{
    flex-grow: 1;
}

/*PARTNER*/

#partner{
    justify-content: center;
    align-items: center;
    height: 500px;
}

#partner .container{
    width: 60%;
}

#partner .img{
    width: 60%;
}

#partner img{
    width: 100%;
}

#partner .testo{
    width: 40%;
}

#partner .testo > *{
    padding: 20px;

}

/*DROP-BIZ*/

#drop-biz{
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#drop-biz .container{
    width: 60%;    
}

#drop-biz .body{
    flex-wrap: wrap;
}

#drop-biz .img{
    width: 100%;
}

#drop-biz img{
    width: 100%;
}

/*SCOPRI DI PIU*/

#scopridipiu{

    height: 300px;
    justify-content: center;
    align-items: center;
}

#scopridipiu > div{
    width: 60%;
}

#scopridipiu .container{
    width: 70%;
    height: 150px;
    justify-content: space-between;
}

/*MAIN CUSTOMERS*/

#main-customers{
    width: 100%;
    flex-wrap: wrap;
}

#main-customers > div{
    width: calc(100% / 3);
    height: 450px;
    flex-wrap: wrap;
}

#main-customers .banner .img{
    width: 50%;
    height: 50%;
}

#main-customers .banner .side-img{
    width: 70%;
    filter: invert(99%) sepia(5%) saturate(2%) hue-rotate(171deg) brightness(112%) contrast(100%);
}

.green{
    background-color: #a2d39b;
}

.bordeaux{
    background-color: #61082b;
}

.azul{
    background-color: #0093ce;
}

.orange{
    background-color: #ff1c1c;
}

.red{
    background-color: #d5001f;
}

.sky{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

.sub-img{
    justify-content: center;
    align-items: center;
}

#main-customers .banner:nth-child(2) > .img{
    width: 80%;
    height: 25%;
    filter: none;
}

#main-customers .banner{
    background-color: rgb(204, 204, 204);
    align-content: flex-start;
}

#main-customers .outro{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #b4d0e7;

}

#main-customers .outro-container{
    width: 80%;
    justify-content: space-around;
    align-items: center;
}


/*FAQ*/

#FAQ{
    justify-content: center;
    align-items: center;
    height: 500px;
}

#FAQ .container{
    width: 60%;
    height: 60%;

}

#FAQ li{
    padding: 30px 0;
}


/*FOOTER*/

footer{
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

#footer{
    width: 60%;
    height: 600px;
    justify-content: space-around;
    align-items: flex-start;
}

#footer li{
    padding: 5px 0;
}

#footer h3{
    padding: 10px 0;
}





